<template name="advancedSettings">
    {{#contentFor "header"}}
        {{>backButton}}
    {{/contentFor}}
    <div class="newgame bluebg row row-centered">
        <h3 class="text_shadow_white_big">Settings</h3>

        <p class="subtitle"><span class="bar"></span> Rounds <span class="bar"></span></p>

        <div class="advanced_option_slider">
            <select name="rounds" style="margin-top: 10px">
                <option value="2">2 round</option>
                <option value="4">4 rounds</option>
                <option value="6" selected="selected">6 rounds</option>
                <option value="10">10 rounds</option>
            </select>
        </div>

        <p class="subtitle"><span class="bar"></span> Category <span class="bar"></span></p>

        <div class="advanced_option_slider">
            <select name="category" style="margin-top: 10px">
                {{#each categories}}
                    <option>{{this}}</option>
                {{/each}}
            </select>
        </div>

        <input type="button" id="startgame" class="startgame" value="Start game"/>
    </div>
    {{ gameState }}
</template>