<template name="rules">
    <div id="wrapper">
        <header>
            <img class="backbutton" src="/images/back-button.png">
            <img src="/images/logo-small.png">
        </header>
        <div class="rules bluebg">
            <div class="rule0 active">
                <img src="images/phone.png" style="width:150px;margin-left:80px;">

                <p>Play this game with 4 players who are physically near you. You need two smartphones to play; one to
                    create the game and one to join the game.</p>
            </div>
            <div class="rule1">
                <img src="images/ico_r1.png">

                <p>Shake ya phone, roll the dice. The dice determines your handicap. The lower your handicap, the more
                    points you can get.</p>
            </div>
            <div class="rule2">
                <img src="images/ico_r2.png">

                <p>Player one describes the words to player two. Player two has to guess the words.</p>
            </div>
            <div class="rule3">
                <br>

                <p class="rulecard"><strong>What you may do:</strong><br/>
                    + Describing / singing / humming or depicting the word<br/>
                    + You have to say exactly guess the word(s)<br/>
                    <strong>What you may not do:</strong><br/>
                    - Say the words on the card<br/>
                    - Say words derived from the answer on the card<br/>
                    - "Sounds like" or "rhymes with" tactics<br/>
                    - Refer to a letter or letters in the alphabet<br/>
                    - Point at an object</p>
            </div>
            <div class="rule4">
                <img src="images/ico_r4.png">

                <p>When the 42 seconds are up, the other team has to check the answers.</p>
            </div>
            <div class="rule5">
                <img src="images/ico_r5.png">

                <p>The score of the team is the number of correctly guessed words minus handicap. If the score is less
                    than 0, the score is 0.</p>
            </div>
            <div class="rule6">
                <img src="images/ico_r6.png">

                <p>The team which achieved the most points after playing all rounds wins!</p>
            </div>
            <ul class="page-indicator">
                <li><input type="button" value="0" class="active"></li>
                <li><input type="button" value="1"></li>
                <li><input type="button" value="2"></li>
                <li><input type="button" value="3"></li>
                <li><input type="button" value="4"></li>
                <li><input type="button" value="5"></li>
                <li><input type="button" value="6"></li>
            </ul>
            <input type="button" id="closeRules" class="closeRules" value="I get the rules!"/>
        </div>
    </div>
</template>