<template name="rules">
    {{#contentFor "header"}}
        {{>backButton}}
    {{/contentFor}}
    <div class="rules bluebg row row-centered">
        <div class="rule0 active row row-centered">
            <img src="images/phone.png" style="width:150px;margin-left:80px;">

            <p>Play this game with two teams of equal sizes. You need two smartphones to play; one to
                create the game and one to join the game.</p>
        </div>
        <div class="rule1 row-centered">
            <img src="images/ico_r1.png">

            <p>Roll the dice! The dice roll determines your handicap. The lower your handicap, the more
                points you can get. So let's say you answered 3 questions correctly and had a handicap of 1,
                that means you scored 2 points for that round.</p>
        </div>
        <div class="rule2 row-centered">
            <img src="images/ico_r2.png">

            <p>One player explains the words to his/her teammates. The teammates then try to guess the words.</p>
        </div>
        <div class="rule3 row-centered">
            <br>

            <p class="rulecard"><strong>What you may do:</strong><br/>
                + Describe / sing / hum or depict the word<br/>
                + Describe the words in any order<br/>
                + Say words like 'the' and 'and' which sometimes appear in the sentence<br/>
                <strong>What you may not do:</strong><br/>
                - Say the words on the card<br/>
                - Say words derived from or related to the answer on the card (synonyms for example)<br/>
                - "Sounds like" or "rhymes with" tactics<br/>
                - Refer to a letter or letters in the alphabet<br/>
                - Translate the word in another language<br/>
                - Point at an object</p>
        </div>
        <div class="rule4 row-centered">
            <img src="images/ico_r4.png">

            <p>When the 42 seconds are up, the other team has to check the answers.</p>
        </div>
        <div class="rule5 row-centered">
            <img src="images/ico_r5.png">

            <p>The score of the team is the number of correctly guessed words minus handicap.</p>
        </div>
        <div class="rule6 row-centered">
            <img src="images/ico_r6.png">

            <p>The team which achieved the most points after playing all rounds wins!</p>
        </div>
        <ul class="page-indicator">
            <li><input type="button" value="0" class="active"></li>
            <li><input type="button" value="1"></li>
            <li><input type="button" value="2"></li>
            <li><input type="button" value="3"></li>
            <li><input type="button" value="4"></li>
            <li><input type="button" value="5"></li>
            <li><input type="button" value="6"></li>
        </ul>
        <input type="button" id="closeRules" class="closeRules" value="I get the rules!"/>
    </div>
</template>