<template name="gameScoreCheck">
<div class="game bluebg row row-centered">
    <h3>Score check</h3>
    <ul class="answers text_shadow_black_big">
        {{#each answers}}
            {{#if this.checkedOff}}
                <li id="answer-{{id}}" style="text-decoration: line-through" class="inactive">
                    <label for="{{this.answer}}">{{this.answer}}</label>
                    <input
                            type="checkbox"
                            class="checkbox"
                            id="{{this.answer}}"
                            name="{{this.answer}}"
                            checked="checked"
                            style="float:left">
                </li>
            {{else}}
                <li>
                    <input
                            type="checkbox"
                            class="checkbox"
                            id="{{this.answer}}"
                            name="{{this.answer}}"
                            style="float:left">
                    <label>{{this.answer}}</label>
                </li>
            {{/if}}
        {{/each}}

    </ul>
        <input type="button" id="nextround" class="nextround" value="Done!"/>
    </div>
</template>