<template name="gameScoreCheck">
    <div class="game bluebg row row-centered">
        <h3>Score check</h3>
        <ul class="text_shadw_black_big no-bullet-list">
            {{#each answers}}
                <li>
                    <label class="label-align">
                        {{#if this.checkedOff}}
                            <input type="checkbox" class="left checked-checkbox">
                            <span class="checked-answer">{{this.answer}}</span>
                        {{else}}
                            <input type="checkbox" class="left unchecked-checkbox">
                            <span class="unchecked-answer">{{this.answer}}</span>
                        {{/if}}
                    </label>
                </li>
            {{/each}}
        </ul>
        <input type="button" id="nextround" class="nextround" value="Done!"/>
    </div>
    {{ gameState }}
</template>