<template name="gameOpponent">
    <div class="game bluebg row row-centered">
        <h3 class="text_shadow_white_big">Round {{roundnumber}}</h3>

        <div class="score text_shadow_black_small">Score: <strong>{{score}}</strong>-{{otherTeamScore}}</div>
        <ul class="text_shadw_black_big no-bullet-list">
            {{#each checkedOff}}
                <li>
                    <label class="label-align">
                        <input type="checkbox" class="left checked-checkbox">
                        <span class="checked-answer">{{this.answer}}</span>
                    </label>
                </li>
            {{/each}}
        </ul>
        <div class="clock"></div>
        <div class="countdown">
            <img src="images/wijzerplaat.png">

            <div class="clock run">
                <div class="pointer">
                    <img src="images/wijzer.png">
                </div>
                <div class="clock-left">
                    <div class="half-circle">
                    </div>
                </div>
                <div class="clock-right">
                    <div class="half-circle">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ runClock }}

    {{ gameState }}
</template>
