<template name="lobby">
    <div class="row row-centered text_shadow_white_big red">
        <h3 style="padding-top: 20px">Welcome to 42 seconds!</h3>
    </div>
    <div class="bluebg lobby row">
        <p><input type="button" id="newgame" class="startgame" value="New game"/></p>

        <p class="lobby_or"><span class="bar"></span> or <span class="bar"></span></p>
        <p><input type="button" id="joingame" class="joingame blue" value="Join game"/></p>

        <div id="ruleslink" class="lobby_rules">
            <img src="/images/whistle.png">
            <div>fortytwo what?<br/>show me the rules!</div>
        </div>
    </div>
</template>