<template name="gameDice">
    <div id="wrapper">
        <header>
            <img src="/images/logo-small.png">
        </header>
        <div class="dice bluebg">
            <h3 class="text_shadow_white_big">Shake it baby!</h3>

            <div id="dices">
                <div class="diceface zero"><span class="dot">0</span></div>
                <div class="diceface one" style="display:none;"><span class="dot">1</span></div>
                <div class="diceface two" style="display:none;"><span class="dot">2</span></div>
            </div>
            <input type="button" id="dice" class="" value="Roll the dice!">
        </div>
    </div>
</template>