<template name="join">
    <div id="wrapper">
        <header>
            <img class="backbutton" src="/images/back-button.png">
            <img src="/images/logo-small.png">
        </header>
        <div class="join bluebg">
            <h3 class="text_shadow_white_big">Your code:</h3>
            <input type="text" pattern="[0-9]*" maxlength="3" id="gamecode" class="gamecode">

            <p class="text_shadow_white_small">You are in:</p>

            <h3 class="blue text_shadow_black_big"><img src="/images/team-blue-icon.png" align="ABSMIDDLE"> TEAM BLUE
            </h3>
            <br>
            <br>
            <input type="button" id="joingame" class="joingame" value="Go!"/>
        </div>
    </div>
</template>